* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: system-ui;
}
.container {
  padding: 15px;
  text-align: center;
  max-width: 500px;
  margin: auto;
}
.container h2 {
  margin-bottom: 10px;
  color: #009688;
}
.container .form input {
  border: 1px solid #DDD;
  outline: none;
  padding: 10px;
  border-radius: 4px;
  width: calc(100% - 60px);
  max-width: 100%;
  height: 40px;
}
.container .form button {
  padding: 10px 15px;
  border-radius: 4px;
  border: none;
  outline: none;
  background-color: #0075ff;
  color: #FFF;
  cursor: pointer;
  font-size: 17px;
  font-weight: bold;
  height: 40px;
}
.box {
  margin-top: 20px;
  border: 1px solid #DDD;
  border-radius: 10px;
  overflow: hidden;
  display: none;
}
.box img {
  width: 100%;
  height: 300px;
}
.box .title {
  margin: 15px 0;
}
.box .caption{
  margin: 10px 0;
  font-size: 20px;
  color: #009688;
  display: inline-block;
  width: 150px;
}
.box .links {
  display: inline-block;
}
.box .links a {
  text-decoration: none;
  color: #FFF;
  background-color: #0075ff;
  padding: 10px;
  border-radius: 4px;
  display: inline-block;
  margin-bottom: 15px;
}